h1{
    color: rgb(229, 128, 238);
}

img{
    width: 120px;
    height: 150px;
}

.contenedor-imagenes{
    display: flex;
    row-gap: 5px;
}
body{
    color: blueviolet;
}
body{
    background-color: aquamarine;
}